*
{
    background-color: #323640;
}
form 
{
    margin-bottom: 25px;
}
input 
{
    border: none;
    width: 50%;
    height: 20px;
    padding: 10px;
    background: #dfdfdf;
    border-radius: 4px;
    display: block;
    position: relative;
    bottom: -2pc;
    left: 5pc;
}
#submitButton 
{
    border: none;
    width: 20pc;
    height: 30px;
    color: white;
    background: #0920a3;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    position: relative;
    right: -57pc;
}
#submitButton:hover 
{
    background: #e26869;
}
.delete 
{
    color: white;
    cursor: pointer;
    position: absolute;
    left: 31pc;
    top: 10px;
}
.delete:hover 
{
    color: #ff5656;
}
ul li 
{
    font-size: 13px;
    background: #dfdfdf;
    border-radius: 4px;
    color: #5a5a5a;
    position: relative;
    height: 40px;
    line-height: 40px;
    margin: 3pc 26pc;
    padding: 2px 28px;
    cursor: pointer;
    width: 30pc;
}
ul li.checked 
{
    text-decoration: line-through;
    background: #aba8a8;
    color: #fff;
}
ul li:hover 
{
    background: #d2cfcf;
}
ul li.checked:hover 
{
    background: #908e8e;
}
#error 
{
    text-align: right;
    color: #ea5455;
    font-size: 14px;
    font-family: sans-serif;
    margin-top: 3px;
    display: none;
    left: 6pc;
    bottom: 33pc;
    position: absolute;
}
#emptyMessage 
{
    text-align: center;
    margin: 0;
    width: 100%;
    color: #5a5a5a;
    background: #dfdfdf;
    height: 100px;
    line-height: 100px;
    border-radius: 4px;
    display: none;
}